@model OWBCS.Admin

@{
    Layout = "/Views/Layout/LayoutAdmin.cshtml";
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="stylesheet" href="~/Content/bootstrap3.3.7.css" />
    <link rel="stylesheet" href="~/Content/Datatable.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("AdminAdd", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="modal fade" id="AddAdminModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Fname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Mname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Mname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Mname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Lname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Bdate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Bdate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Bdate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.Position, new List<SelectListItem>
                                        {
                                      new SelectListItem() {Text = "Accountant", Value="Accountant"},
                                      new SelectListItem() {Text = "Cashier", Value="Cashier"}

                                   }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    Male
                                    @Html.RadioButtonFor(model => model.Gender, "Male")
                                    Female
                                    @Html.RadioButtonFor(model => model.Gender, "Female")
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.EmergencyNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.EmergencyNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.EmergencyNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.MaritalStatus, new List<SelectListItem>
                                         {
                                       new SelectListItem() {Text = "Single", Value="Single"},
                                       new SelectListItem() {Text = "Married", Value="Married"},
                                        new SelectListItem() {Text = "Divorced", Value="Divorced"},
                                         new SelectListItem() {Text = "Widowed", Value="Widowed"}
                                    }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.ResidentialAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(model => model.ResidentialAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ResidentialAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="btnAdd" name="btnAdd" onclick="Insert()">Add Employee</button>
                            <button type="button" class="btn btn-danger" id="btnClose" name="btnClose" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model != null)
    {
        using (Html.BeginForm("AdminView", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="modal fade" id="UpdateModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <br />
                            @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })

                            <div class="row">
                                @Html.LabelFor(model => model.Fname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Mname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Mname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Mname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Lname, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Bdate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.Bdate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Bdate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.Position, new List<SelectListItem>
                                        {
                                      new SelectListItem() {Text = "Accountant", Value="Accountant"},
                                      new SelectListItem() {Text = "Cashier", Value="Cashier"}

                                   }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    Male
                                    @Html.RadioButtonFor(model => model.Gender, "Male")
                                    Female
                                    @Html.RadioButtonFor(model => model.Gender, "Female")
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.EmergencyNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.EditorFor(model => model.EmergencyNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.EmergencyNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.MaritalStatus, new List<SelectListItem>
                                         {
                                       new SelectListItem() {Text = "Single", Value="Single"},
                                       new SelectListItem() {Text = "Married", Value="Married"},
                                        new SelectListItem() {Text = "Divorced", Value="Divorced"},
                                         new SelectListItem() {Text = "Widowed", Value="Widowed"}
                                    }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                @Html.LabelFor(model => model.ResidentialAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-lg-12">
                                    @Html.TextAreaFor(model => model.ResidentialAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ResidentialAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="btnUpdate" name="btnUpdate">Update</button>
                            <button type="button" class="btn btn-danger" id="btnClose" name="btnClose" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped" id="adminData">
                <thead>
                    <tr>
                        <th>
                            Admin Id
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Middle Name
                        </th>
                        <th>
                            Last name
                        </th>
                        <th>
                            Birthdate
                        </th>

                        <th>
                            Email
                        </th>
                        <th>Position</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
        <button type="button" id="addbtn" class="btn btn-success">
            Add Employee
        </button>
    </div>

    <div class="container">
        <div id="auerror" class="alert alert-danger collapse">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There is a problem updating the Admin
        </div>
        <div id="ausuccess" class="alert alert-success collapse">
            <strong>Success!</strong> You have successfully updated the Admin
        </div>

        <div id="aerror" class="alert alert-danger collapse">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There is a problem deleting the Admin
        </div>
        <div id="asuccess" class="alert alert-success collapse">
            <strong>Success!</strong> You have successfully deleted the Admin
        </div>

        <div id="aaerror" class="alert alert-danger collapse">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There is a problem submitting your form
        </div>
        <div id="aasuccess" class="alert alert-success collapse">
            <strong>Success!</strong> You have successfully added a Admin
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/moment.js"></script>
    <script src="~/Content/Datatable.js"></script>
    <script>
        var modalvalue = @ViewBag.ModalView;
            $(document).ready(function () {

            var table = $('#adminData').DataTable({
                "ajax": {
                    "url": '/Admin/GetAdmin',
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "AdminId", "autowidth": true },
                    { "data": "Fname", "autowidth": true },
                    { "data": "Mname", "autowidth": true },
                    { "data": "Lname", "autowidth": true },
                    { "data": "Bdate", render: function (data, type, announcement) { return announcement.FormattedDate }, "autowidth": true },
                    { "data": "EmailAddress", "autowidth": true },
                    { "data": "Position", "autowidth": true },
                    { "data": "Id", "autowidth": true, render: function (data) { return '<button class="btn btn-default" onclick="ViewOther(' + data + ')"><i class="glyphicon glyphicon-eye-open"></i></button> <a id="btnUpdate" class="btn btn-primary" href="/Admin/AdminView/' + data + '"><i class="glyphicon glyphicon-edit"></i></a> <a id="btnUpdate" class="btn btn-danger" href="/Admin/Delete/' + data + '"><i class="glyphicon glyphicon-trash"></i></a>'} }

                ]
                });
                if (modalvalue == 1) {
                    $('#UpdateModal').modal();
                }
        });
        $('#addbtn').click(function () {

            $('#AddAdminModal').modal();
        }
        );

        function Updatet(id) {
            $.ajax({
                type: "GET",
                url: "/Admin/AdminEdit",
                data: { Id: id },
                success: function (data) {
                    $('#txtId').val(data.Id)
                    document.getElementById('txtFname').value = data.Fname;
                    document.getElementById('txtMname').value = data.Mname;
                    document.getElementById('txtLname').value = data.Lname;
                    document.getElementById('txtEmail').value = data.Email;
                    var d = new Date(moment(data.Bdate).format('LL'));
                    document.getElementById('txtBdate').value = d.toISOString().split('T')[0];
                    console.log(d.toISOString().split('T')[0]);
                    document.getElementById('cboPosition').value = data.Position;
                }
            });
            $('#updateModal').modal();
        }
        function Delete(id) {

            $.ajax({
                type: "POST",
                url: "/Admin/Deleted",
                data: {Id:id},
                success: function (data) {
                    if (data == true) {
                        alert('Deleted Successfully');
                        window.location.reload();
                        window.location.href = window.location.href + "?rnd=" + Math.random()
                    }
                },
                error: function (error) {
                    alert(error);
                }
            });

        }
    </script>
</body>
</html>
