<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#e4e4e4;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse ">
                <div class="pull-left">
                    <a href="~/Views/Admin/Home.cshtml"><img src="~/Content/Images/Logo.png" height="75px" /></a>
                </div>
                <ul class="nav navbar-nav pull-right">

                    <li><a href="@Url.Action("Home","Member")">Home</a></li>
                    <li><a href="@Url.Action("ViewSavings","Savings")">Savings</a></li>
                    <li><a href="@Url.Action("Withdraw","Withdraw")">Withdraw</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-list"> </span> Loan <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Loan","Loan")">Add Loan</a></li>
                            <li><a href="@Url.Action("Comaker","Member")">Comaker</a></li>
                            <li><a href="@Url.Action("ViewLoan","Loan")">My Loan</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index","Home")">Logout</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
